* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #14215e;
}


#page-text-wrapper {
    background-color: #d5e805;
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 80%;
    text-align-last: center;
    border-radius: 1em;
    margin-top: 1em;
}

h1 {
    margin-bottom: 1em;
    color: #d5e805;
    text-shadow: 10px 15px 10px rgba(3, 3, 2, 0.77);

}

#fields {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
}

input,
button {
    width: 6em;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 0.5em;
}

button {
    background-color: gray;
}

button:hover {
    background-color: chartreuse;
    cursor: pointer;
}

#stage {
    width: 300px;
    height: 300px;
    position: relative;
}

#earth {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(../images/earth.jpg);
    background-position: center;
    border-radius: 1em;
}

#cannon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 260px;
    left: 140px;
    background-image: url(../images/cannon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


#commet {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 80px;
    background-image: url(../images/commet.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#missile {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 200px;
    left: 140px;
    background-image: url(../images/missile.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#explosion {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(../images/explosion.png);
    display: none;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}